{% extends "base.html" %}
{% block head %}
<style>
  .cont{
    width: 70%;
    margin: auto;
    /* border: 2px solid red; */
  }
  .title{
    width: 60%;
    margin-left: 40%;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
  }
  .title a:hover{
    color: #675abf;
  }
  </style>
       {% endblock %}
{% block content %}

<div class="cont">
  <div class="title">
    <h1 >Welcome, {{name}}!</h1>
  <a href="{{ url_for('download') }}">Download Your File</a>
  </div>
</div>
{% endblock %}